<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>Register!!</h2>
        <form action="/register" method="post">
            Uname:
            <input type="text" name="uname" /><br>
            Email:
            <input type="text" name="email"/> <br>
            Password
            <input type="text" name="password"/> <br>

            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </form>
    </center>    
</body>
</html>